<div class="logo-container">
    <a href='@Url.Action("Index", "Home")' class="logo"> 
        <h4>@SuperShoesApp.Resources.Main.SuperShoesApp</h4>      
    </a>
    <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
       
    </div>
</div>

